<h1 mat-dialog-title>Privacy Policy</h1>
<div mat-dialog-content>
    <p>Last updated: December 2023</p>
    <p>This Privacy Policy describes our policies and procedures on the collection, use and disclosure of your information when you use the Service and tells you about your privacy rights and how the law protects you.</p>
    <p>We use your Personal data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this Privacy Policy.</p>
    <h2>Interpretation and Definitions</h2>
    <h3>Interpretation</h3>
    <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
    <h3>Definitions</h3>
    <p>For the purposes of this Privacy Policy:</p>
    <ul>
    <li>
    <p><strong>Account</strong> means a unique account created for you to access our Service or parts of our Service.</p>
    </li>
    <li>
    <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to ISEP.</p>
    </li>
    <li>
    <p><strong>Country</strong> refers to Portugal.</p>
    </li>
    <li>
    <p><strong>Device</strong> means any device that can access the Service such as a computer, a cell phone or a digital tablet.</p>
    </li>
    <li>
    <p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>
    </li>
    <li>
    <p><strong>Service</strong> refers to the Website.</p>
    </li>
    <li>
    <p><strong>Service Provider</strong> means the company ISEP itself is the one responsible for processing your data.
    </li>
    <li>
    <p><strong>Website</strong> refers to grupo68, accessible from <a href="http://localhost:4200" rel="external nofollow noopener" target="_blank">http://localhost:4200</a></p>
    </li>
    <li>
    <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
    </li>
    </ul>
    <h2>Collecting and Using Your Personal Data</h2>
    <h3>Types of Data Collected</h3>
    <h4>Personal Data</h4>
    <p>While using our Service, We may ask you to provide Us with certain personally identifiable information that can be used to contact or identify you. Personally identifiable information includes:</p>
    <ul>
    <li>
    <p>Email address</p>
    </li>
    <li>
    <p>First and last name</p>
    </li>
    <li>
    <p>Phone number</p>
    </li>
    <li>
    <p>TIN/NIF (Tax Identification Number)</p>
    </li>
    </ul>
    <h3>Use of Your Personal Data</h3>
    <p>The Company uses your Personal Data for the following purposes:</p>
    <ul>
    <li>
    <p><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</p>
    </li>
    <li>
    <p><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</p>
    </li>
    <li>
    <p><strong>To manage Your requests:</strong> to attend and manage your requests to us.</p>
    </li>
    <li>
    <p><strong>For invoicing and billing:</strong> to invoice and bill any purchases of products or services.</p>
    </li>
    </ul>
    <p>We may share your personal information in the following situations:</p>
    <ul>
    <li><strong>With Service Providers:</strong> We may share your personal information with Service Providers to monitor and analyse the use of our Service, to contact you.</li>
    <li><strong>With your consent</strong>: We may disclose your personal information for any other purpose with your consent.</li>
    </ul>
    <h3>Retention of Your Personal Data</h3>
    <p>The Company will retain your Personal Data only for as long as you are connected to the institution ISEP either as a student, worker or collaborator, or until you exercise your right of opposition or right of erasure. After that period is over the company will erase your personal data.</p>
    <h2>Your Personal Data rights</h2>
    <p>The <strong>right of access to the information</strong>:  you have the right to obtain confirmation from a data controller (the entity collecting and processing the data, ISEP) about whether personal data concerning them is being processed and, if so, access to that data.</p>
    <p>The <strong>right of rectification</strong>: you have the right to request the correction of inaccurate or incomplete personal data concerning them that is being processed by a data controller.</p>
    <p>The <strong>right to erasure</strong>: you have the right to delete or request that we assist in deleting the Personal Data that we have collected about you as long as there are no illegal impositions to their conversion.</p>
    <p>The <strong>right to portability</strong>:  you have the right to receive their personal data in a structured, commonly used, and machine-readable format and have the right to transmit that data to another data controller without hindrance.</p>
    <p>The <strong>right to opposition</strong>: you have the right to object, on grounds relating to their particular situation, to the processing of their personal data. This includes processing for direct marketing purposes.</p>
    <p>The <strong>right to limited treatment</strong>: you have the right to request the restriction of processing of their personal data. This means that the data can be stored, but not further processed.</p>
    <p>The <strong>right to not be subjected to individual automated decisions</strong>: you have the right not to be subject to a decision based solely on automated processing, including profiling, which produces legal effects concerning them or similarly significantly affects them.</p>
    <h3>Disclosure of Your Personal Data</h3>
    <h4>Law enforcement</h4>
    <p>Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>
    <h4>Other legal requirements</h4>
    <p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
    <ul>
    <li>Comply with a legal obligation.</li>
    <li>Protect and defend the rights or property of the Company.</li>
    <li>Prevent or investigate possible wrongdoing in connection with the Service.</li>
    <li>Protect the personal safety of Users of the Service or the public.</li>
    <li>Protect against legal liability.</li>
    </ul>
    <h2>Security of Your Personal Data</h2>
    <p>The security of Your Personal Data is important to Us but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While We strive to use commercially acceptable means to protect Your Personal Data, We cannot guarantee its absolute security.</p>
    <h2>Changes to this Privacy Policy</h2>
    <p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
    <p>We will let You know via email and/or a prominent notice on Our Service, prior to the change becoming effective and update the &quot;Last updated&quot; date at the top of this Privacy Policy.</p>
    <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, You can contact us:</p>
    <ul>
    <li>By email: 1201293@isep.ipp.pt, 1201289@isep.ipp.pt, 1211650@isep.ipp.pt, 1211555@isep.ipp.pt, 1201123@isep.ipp.pt.</li>
    </ul>
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onDeclineClick()">Decline</button>
  <button mat-button (click)="onAcceptClick()">Accept</button>
</div>