<div class="container">
    <header>
        <h1>Welcome to Our Web Application</h1>
        <p>Developed by {{ groupName }}</p>
    </header>
  
    <div class="content">
        <section class="left-section">
            <h2>About Us</h2>
            <p>
              {{ groupName }} is a team of passionate individuals dedicated to creating innovative solutions. Our goal is to make life easier and more enjoyale through the use of different applications and services.
            </p>
        </section>
  
        <section class="right-section">
            <div class="project-details-section">
              <h2>Project Details</h2>
              <p>
                This project was developed by {{ groupName }}. It aims to provide you with a campus robot managment application that lets you define your robots to perform different kinds of tasks like vigilance, cleaning and deliveries. We used various technologies and tools to bring this project to life.
              </p>
            </div>
        </section>
    </div>
  
    <footer>
        <p>If you have any questions or feedback, feel free to reach out to us through one of the following emails:</p>
        <p>{{ contactEmail }}</p>
        <p>&copy; {{ currentYear }} {{ groupName }}. All rights reserved.</p>
    </footer>
</div>